body {
  font-family: sans-serif;
  background-color: blue;
  color: white;
  height: 98vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 98vh;
  width: 98vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  text-align: center;
  font-size: 5vh;
  height: 10%;
  /* background-color: pink; */
}

.numbersSpace, .rollSpace {
  height: 90%;
  width: 90%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quantity {
  background-color: royalblue;
  border-radius: 5%;
  text-align: center;
  margin: 1vh;
}

.roll {
  background-color: red;
  border-radius: 5%;
  text-align: center;
  margin: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 25%;
  width: 25%;
  margin: 4%;
  /* min-width: 33.3%; */
  background-color: red;
  border-radius: 50%;
}
